*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@800&display=swap');


body{
   
    font-family: "Azeret Mono", monospace;
        font-optical-sizing: auto;
        font-weight: 800;
        font-style: normal;
      
}
    
img{
    width: 100%;
}
p{
    font-weight: 400;
    font-size: 16px;
    opacity: 0.7;
    
}

header{
    background-image: url(assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* height: 650px; */
}

.header_container {
    width: 998px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 40px;
    padding-bottom: 45px;
    /* margin-top: 30px; */
}

.header_image {
    width: 240px;
    height: 240px;
}

button.btn {
    width: 155px;
    /* padding: 8px 18px; */
 padding: 8px 8px 8px 8px;
    background: black;
    color: white;
    font-size: 16px;
    text-align: center;
    border-radius: 8px;

}
.btn a{
    color: white;
    text-decoration: none;
}

 .div_1_aside a{
    color:white;
    text-decoration: none;   
}

h1.header_title {
    font-size: 40px;
    text-align: center;
    font-weight: 800;
}

p.header_desc {
    font-size: 17px;
    font-weight: 400;
    opacity: 0.8;
    width: 600px;
    text-align: center;
}

.dev {
    width: 1170px;
    margin: auto;
    margin-top: 70px;
    border-radius: 16px;
    /* display: flex; */
    background: rgba(13, 19, 33, 0.02);
    /* flex-direction: column; */
    /* gap: 20px; */
}

.dev_container {
    width: 850px;
    margin: auto;
    display: flex;
    /* margin-bottom: 40px; */
    flex-direction: column;
    gap: 40px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 16px;
}

dev.title {
    text-align: center;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

dev.title h1 {
    font-size: 32px;
}

dev.title p {
    font-weight: 400;
    opacity: 0.6;
}

button.dev_1_button {
    background: white;
    color: black;
    width: 150px;
    cursor: pointer;
    padding: 8px;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
}

button.dev_1_button a{
    color: black;
    text-decoration: none;
}

.dev_1 {
    width: 850px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: white;
    align-items: ;
    padding: 35px;
    align-items: start;
    border-radius: 16px;
}

.dev_1_image {
    width: 260px;
    height: 215px;
}
.div_1_aside {
    /* width: 477px; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 25px;
}

h3.dev_1_title {
    font-size: 20px;
    font-weight: bolder;
    width: 400px;
}

p.dev_1_desc {
    width: 430px;
}
.dev_3_image{
    width: 206px;
}
.dev_2{
    width: 850px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    background: white;
    align-items: ;
    padding: 35px;
    align-items: start;
    border-radius: 16px;
    gap: 30px;
}



/* inspiration */





section#inspiration {
    width: 1170px;
    margin: auto;
    display: flex;
    margin-top: 80px;
    gap: 40px;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.inspiration_text.dev_1_title {
    width: 850px;
    margin: auto;
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 20px;
}

h3.inspiration_title {
    font-size: 32px;
}

.inspiration_vdo {
    /* width: 1163px; */
    /* margin: auto; */
    /* box-sizing: border-box; */
    /* border: 1px solid rgba(13, 19, 33, 0.2); */
    /* border-radius: 16px; */
}

iframe {
    /* text-align: center; */
    width: 1076px;
    height: 550px;
    /* margin: auto; */
    border-radius: 16px;
}
.vdo {
    display: flex;
    width: 1170px;
    margin: auto;
    /* box-sizing: border-box; */
    border: 1px solid rgba(13, 19, 33, 0.2);
    justify-content: center;
    border-radius: 16px;
    padding: 40px 0px;
}

section#target {
    width: 1170px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    margin-top: 150px;
    /* align-items: center; */
}

.target_text {
    text-align: center;
    margin: auto;
    width: 850px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h3.target_text_title.de_1_title {
    font-size: 32px;
}

.card {
    width: 364px;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
    justify-content: center;
    gap: 15px;
    align-items: flex-start;
    padding: 35px 30px;
    /* align-items: start; */
}

.card_img {
    width: 40px;
}

a.card_link {
    color: black;
}
.card_gallery {
    display: flex;
    gap: 25px;
    justify-content: space-between;
}

.second{

border-radius: 16px;
background: rgba(0, 76, 232, 0.05);
}
.third{
    border-radius: 16px;
background: rgba(255, 223, 0, 0.05);
}



/* support */



#support{
    background-image:linear-gradient(180.00deg, rgb(16, 16, 16) -19.5%,rgba(16, 16, 16, 0) 100%), url('assets/handshake.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 1170px;
    margin: auto;
    border-radius: 16px;
    margin-top: 150px;
}
.support_text {
    width: 730px;
    margin: auto;
    line-height: 1.8;
}

h3.support_title {
    color: white;
    font-size: 30px;
    text-align: center;
    font-weight: bolder;
}

p.support_desc {
    color: white;
    text-align: center;
}

.support_container {
    width: 1044px;
    padding: 64px 48px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

input[type="text"] {
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    width: 450px;
    padding: 20px;
    height: 30px;
}

input[type="submit"] {
    border-radius: 8px;
    cursor: pointer;
    background: rgb(255, 255, 255);
    font-weight: bold;
    width: 120px;
    /* height: 30px; */
    font-size: 15px;
    padding: 11px 6px;
}

.input_box {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}




/* footer */


footer{
    border-radius: 16px;
    margin-top: 80px;
    background: rgba(13, 19, 33, 0.03);
}
.footer_icon img{
    width: 22px;
}

.footer_container {
    width: 1170px;
    margin: auto;
    padding: 25px 0px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.footer_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}